/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color:#000 ;
  background-color: #F5F5F5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
 
  border: none;0
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #00b860;
  --secondary: #ff8000;
  --accent: #a15a3f;
}

input {
  outline-color: none;
}
input:focus {
  outline: none;
}
.addressForm {
  position: relative;
  padding-inline: 2rem;
  padding-bottom: 8rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.addressForm h3 {
  width: 100%;
  padding: 6px;
  margin: 1rem;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: var(--primary);
}

.addressForm button {
  position: relative;
  background: var(--primary);
  max-width: 130px;
  padding: 10px;
  color: white;
  font-size: 20px;
  margin: 0 auto;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.26);
}

.addressForm div {
  display: flex;
  flex-direction: column;
}

.addressForm div input {
  border: none;
  border-bottom: 2px solid silver;
}
.addressForm div input:focus {
  border-bottom: 2px solid var(--primary);

  outline: none;
}
.custom-range {
  -webkit-appearance: none; /* Remove default styles for WebKit browsers */
  width: 100%;
  height: 8px;
  border-radius: 5px;

  outline: none;
}

.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  cursor: pointer;
}

.custom-range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  cursor: pointer;
}

/* Assuming you have a container class for the progress bar */
.progress-bar {
  width: 100%;
  height: 3px;
  overflow: hidden;
  background: silver;
}

/* Style for the progress bar fill */
.progress-bar-fill {
  height: 100%;
  background-color: var(--primary); /* Green color */
  transition: width 1s linear; /* Smooth transition animation */
}

.fillForm {
  position: relative;
  list-style: none;
  left: 0;
  animation: move 1000ms ease-in;
}
.fillForm::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: white;
  left: 0;
  top: 0;
  animation: move2 1000ms ease-in;
  box-shadow: 2px 0 1px 1px rgba(230, 230, 230, 0.3);
}

.login input {
  outline: none;
}

.login input:focus {
  border: 1px solid var(--primary);
}

@keyframes move {
  from {
    left: -120%;
  }
  to {
    left: 0;
  }
}

@keyframes move2 {
  0% {
    left: 120%;
    opacity: 0;
  }

  40% {
    opacity: 1;
  }
  100% {
    left: 0;
  }
}

.headingTexts {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 20px;
  background: rgba(9, 9, 0, 0.42);
}

.lds-dual-ring {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 70px;
  position: relative;
  height: 70px;
  margin: auto;
  margin: 4px;
  border-radius: 50%;
  border: 10px solid #fff;
  border-color: var(--primary) transparent var(--secondary) transparent;
  animation: lds-dual-ring 1s linear infinite;
  z-index: 50;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.defaultAddress {
  transition: all 300ms linear;
  box-shadow: 1px 2px 3px rgba(9, 9, 0, 0.42);
  border: 4px solid var(--primary);
}
.defaultAddress > button {
  background: var(--secondary);
}

.searhInput {
  animation: expand 300ms linear;
  position: relative;
}

@keyframes expand {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

.searhButton {
  animation: shift 300ms linear;
  position: relative;
}

@keyframes shift {
  0% {
    left: -10%;
  }
  100% {
    left: 0%;
  }
}

.background{
 background-image: url('./assets/img/bg.jpg');
  background-size: cover;
  background-color: #0000006d;
}

.background::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #00000075;
}


.hero{
  background-image: url('./assets/img/hero.jpg');
  background-size: cover;
}
.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #00000059;
}
input {
  outline-color: none;
  border: none;
  border-bottom: 10px solid #FF8000;

}